---
const { SITE } = Astro.props;
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-xl md:text-xl font-bold whitespace-nowrap text-[#c60548] dark:text-white">
  Soberania<span class="text-[#c60548]">.Digital</span>
</span>
